*{margin: 0;padding: 0;}
ul{list-style: none;}

.box {
	width: 1000px;
	height: 1000px;
	margin: 100px auto;
	position: relative;

}

#next,#prev{
	position: absolute;
	width: 76px;
	height: 112px;
	top: 190px;
	z-index: 5;
}

#next{
	right:0px;
	background: url('../images/next_1.png') 0 0 no-repeat;
}
#prev{
	left:0px;
	background-image: url('../images/prev_1.png');
}

.box .content li{
	position: absolute;
}

.box .content li img{
	/*图片宽度设置为父盒子宽度的100%*/
	width: 100%;
}

